* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.animation {
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: blue;
    margin: 0px 0 0 0px;
    position: relative;
    animation-name: animation-name;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes animation-name {
    0% {
        left: 0;
        top: 0;
        border-radius: 50px;
       }
    25% {
        top:0;
        left: 1800px;
        border-radius: 50px;
        background-color: blue;
    }
        

   
    50% {
      left: 1800px;
      top: 820px;
      border-radius: 50px;
      background-color: burlywood;
    }
    75% {
        top: 820px;
        left: 0px;
        border-radius: 50px;
        background-color: chartreuse;
    }
    100% {
        top: 0;
        left: 0;
        background-color: goldenrod;
        border-radius: 50px;
        transform: rotate(100deg);
    }
}